<% if (theme.disqus.count){ %>
  <script id="dsq-count-scr" src="https://<%= theme.disqus.shortname %>.disqus.com/count.js" async></script>
<% } %>

<div id="disqus_thread">
  <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<script type="text/javascript">
  if (document.getElementById('disqus_thread')) {
    var disqus_config = function () {
      this.page.url = '<%= page.permalink %>';
      this.page.identifier = '<%= page.path %>';
      this.page.title = '<%= page.title %>';
    };
    (function(){
      var d = document,
          s = d.createElement('script');
      s.async = true;
      s.src = 'https://<%= theme.disqus.shortname %>.disqus.com/embed.js';
      s.setAttribute('data-timestamp', '' + +new Date());
      (d.head || d.body).appendChild(s);
    })();
  }
</script>


